services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3333:3333'
    environment:
      - NODE_ENV=production
      - HOST=0.0.0.0
      - PORT=3333
      - LOG_LEVEL=warn
      - APP_KEY=${APP_KEY}
      - SESSION_DRIVER=cookie
      - NOTION_API_KEY=${NOTION_API_KEY}
      - NOTION_DATABASE_ID=${NOTION_DATABASE_ID}
    restart: unless-stopped
